C3/check.py
Assignment/__pycache__/nokia_function.cpython-313.pyc
Assignment/nokia_failsafe_function.py
Assignment/__pycache__/nokia_failsafe_function.cpython-313.pyc
Phase Gate/ROT13/encrypt_text.py
