S1/C3/check.py
S1/Assignment/__pycache__/nokia_function.cpython-313.pyc
S1/Assignment/nokia_failsafe_function.py
S1/Assignment/__pycache__/nokia_failsafe_function.cpython-313.pyc
S1/Phase Gate/ROT13/encrypt_text.py
*.pyc
